:root {
    --mobile-breakpoint: 768px;
    --header-height: 30px;
    --padding: min(5vw + 1rem, 3rem);

    --dunkelblau: #245a74;
    --mittelblau: #5facbd;
    --hellblau: #b7d4dc;
    --weiss: #ffffff;
    --senfgelb: #e9cb44;
    --rot: #cc0000;

    --shake-chevron: shake-chevron 3.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s infinite both;
    --slide-in-chevron: slide-in-blurred 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    --slide-out-chevron: slide-out-blurred 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../font/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'MontserratAlternates-Bold';
    src: url('../font/MontserratAlternates-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'MontserratAlternates-ExtraBold';
    src: url('../font/MontserratAlternates-ExtraBold.woff2') format('woff2');
}

h1 {
    font-family: MontserratAlternates-ExtraBold, Montserrat, sans-serif;
    font-size: clamp(2.5rem, 0.7857rem + 3.5714vw, 4rem);
}

h2 {
    font-family: MontserratAlternates-Bold, Montserrat, sans-serif;
    font-size: clamp(1.25rem, 0.8486rem + 1.8349vw, 2.5rem);
}
h3 {
    font-family: Montserrat-Regular, Montserrat, sans-serif;
    font-size: clamp(1.175rem, 0.9904rem + 0.844vw, 1.75rem);
}

h4 {
    font-family: Montserrat-Bold, Montserrat, sans-serif;
    font-size: clamp(1rem, 0.9197rem + 0.367vw, 1.25rem);
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    margin-block: 1rem;
    color: var(--dunkelblau);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100dvh;
    font-family: Montserrat-Medium, Montserrat, sans-serif;
    background-color: var(--dunkelblau);
}

.pages {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    height: calc(100dvh - var(--header-height));
    width: 100vw;
    position: relative;
    background-color: black;
    color: var(--weiss);
}

.pages section {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.topLeft,
.bottomRight {
    overflow: hidden;
    position: relative;
    height: 50%;
    transition: height 0.7s ease-in-out;
}

/* Explizit only Mobile */
@media screen and (max-width: 768px) {
    /*.pages section:hover .topLeft {*/
    /*    height: 25%;*/
    /*    transition: height 2s linear;*/
    /*}*/
    /*.pages section:hover .bottomRight {*/
    /*    height: 75%;*/
    /*    transition: height 2s linear;*/
    /*}*/
    /*.pages section .topLeft:hover {*/
    /*    height: 50%;*/
    /*}*/
}

.topLeft {
    display: grid;
    grid-template-columns: var(--padding) 1fr 1fr 1fr var(--padding);
    grid-template-rows: var(--padding) 1fr 1fr 1fr 1fr 1fr 1fr var(--padding);
    grid-template-areas:
     '.       .        icons   icons  icons  '
     '.       .        .       .      .      '
     '.       .        .       .      .      '
     'topNav  .        .       .      botNav '
     '.       .        .       .      .      '
     '.       topText  topText .      .      '
     '.       topText  topText .      .      '
     '.       .        .       .      .      ';
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.bottomRight {
    padding: var(--padding);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: var(--dunkelblau);
}

.bottomRight::-webkit-scrollbar {
    display: none;
}

.section-start {
    display: none;
}

.education .topLeft {
    background-image: url(../img/ausbildung.webp);
}

.movie .topLeft {
    background-image: url(../img/movie.webp);
}

.application .topLeft {
    background-image: url(../img/bewerbung.webp);
}

.contact .topLeft {
    background-image: url(../img/kontakt.webp);
}

.topLeft, .start-content {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--dunkelblau);
    background-size: cover;
}

.topText {
    grid-area: topText;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.topText * {
    margin: unset;
}

.bottomText {
    display: none;
}

.iconsNav {
    fill: var(--mittelblau);
    grid-area: icons;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 12px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.iconsNav svg {
    width: clamp(2rem, 1.9286rem + 1.1905vw, 3rem);
}

.iconsNav .iconStart {
    display: none;
}

.bottomText {
    grid-area: botText;
}

.chevron {
    cursor: pointer;
    rotate: 270deg;
}
.chevron use {
    fill: white;
}
.chevron:hover use {
    fill: var(--senfgelb);
}

.chevron {
    animation: var(--shake-chevron)
}

.chevron:hover {
    animation-play-state: paused;
}

.topChevron .chevron {
    rotate: 90deg;
}

.topChevron {
    grid-area: topNav;
}

.bottomChevron {
    grid-area: botNav;
}

.movieIframe {
    height: 50vw;
}

.svgMap {
    fill: var(--hellblau);
    cursor: pointer;
}

.svgMap:hover {
    fill: var(--mittelblau);
}

.svgMap.activeRegion {
    fill: var(--senfgelb);
}

button {
    border: 0;
    border: none;
    outline: none;
    border-radius: 2rem;
    background-color: var(--mittelblau);
    color: var(--dunkelblau);
    font-weight: bold;
    font-family: MontserratAlternates-ExtraBold, Montserrat, sans-serif;
    padding: 8px 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:focus {
    border: none;
    outline: none;
}

button:hover {
    background-color: var(--senfgelb);
}

.movie .bottomRightContent p {
    padding-block: min(2vw + 1rem, 1rem);;
}

.centerDiv {
    display: grid;
    place-content: center;
}

.selectedRegion {
    font-family: Montserrat-Bold, Montserrat, sans-serif;
}


@media (min-width: 768px) {


    .pages section {
        display: flex;
    }

    .topLeft,
    .bottomRight {
        height: 100%;
        width: 50vw;
    }

    .bottomRight {
        padding-right: min(10vw + 1rem, 4rem);
    }

    .prevChevron {
        background: no-repeat url("../icons/chevron-up.svg");
    }

    .nextChevron {
        background: no-repeat url("../icons/chevron-down.svg");
    }

    .bottomRightContent {
        max-width: 720px;
    }

    .topLeft {
        padding: var(--padding);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: var(--padding) 2fr 3fr 1fr 1fr var(--padding);
        grid-template-areas:
     '.       .        topNav  .       .'
     'topText  topText .       .       .'
     '.       .        .       .       .'
     'icons   .        .       .       .'
     'icons   botText  botText botText .'
     'icons   .        botNav  .       .';
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .section-start .start-content {
        text-align: center;
        padding: var(--padding);
        background-image: url(../img/start.webp);
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr 50px;
        grid-template-rows: 9fr 1fr 1fr;
        grid-template-areas:
     'icons   .  .  . .'
     'icons   startTitle  startTitle startTitle .'
     'icons   .           botNav     .          .';
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }


    .startTitle {
        grid-area: startTitle;
    }

    .iconsNav {
        flex-direction: column;
        gap: 16px;
    }

    .iconsNav .iconStart {
        display: unset;
    }

    .topText {
        justify-content: start;
    }

    .bottomText {
        display: block;
    }

    .movieIframe {
        height: clamp(11.25rem, -0.0805rem + 23.6052vw, 25rem);
    }

    .topChevron, .bottomChevron {
        margin-left: 2vw;
    }

    .topChevron .chevron {
        rotate: 180deg;
        max-height: 30px;
    }

    .bottomChevron .chevron {
        rotate: 0deg;
        max-height: 30px;

    }

    .start-content .chevron {
        width: 7vw;
    }

}

.chevron-slide-in {
    -webkit-animation: var(--slide-in-chevron);
    animation: var(--slide-in-chevron);
}

.chevron-slide-out {
    -webkit-animation: var(--slide-out-chevron);
    animation: var(--slide-out-chevron);
}

@keyframes slide-in-blurred {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-out-blurred {
    0% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
}

/*@keyframes fly-in-chevron {*/
/*    0%{*/
/*        transform: translateY(50px);*/
/*        opacity: 0;*/
/*    }*/
/*    100% {*/
/*        transform: translateY(0px);*/
/*        opacity: 1;*/

/*    }*/
/*}*/
/*@keyframes fly-out-chevron {*/
/*    0% {*/
/*        transform: translateY(0px);*/
/*        opacity: 1;*/

/*    }*/
/*    100%{*/
/*        transform: translateY(50px);*/
/*        opacity: 0;*/
/*    }*/
/*}*/
@keyframes shake-chevron {
    0%, 30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    50% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    70%, 100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}