:root {
  --mobile-breakpoint: 768px;
  --header-height: 50px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

header {
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
  background: #e5e6e7;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

header button {
  border: 1px solid rgb(128, 128, 128);
  width: 40px;
  height: 40px;
  background: cadetblue;
}

.pages {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  position: relative;
}

.pages section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pages section .topLeft,
.pages section .bottomRight {
  height: 50%;
  padding: 1rem;
  position: relative;
}
.pages section .bottomRight {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.pages section .bottomRight::-webkit-scrollbar  {
  display: none;
}

.navigation {
  width: 100%;
  height: 100%;
  position: absolute;
}

.prevChevron,
.nextChevron {
  position: absolute;
  top: 50%;
}
.prevChevron {
  left: 20px;
}
.nextChevron {
  right: 20px;
}

.section-start {
  display: none;
}

@media screen and (min-width: 768px) {
  .pages section {
    display: flex;
  }

  .pages section .topLeft,
  .pages section .bottomRight {
    height: 100%;
    width: 50vw;
  }

  .prevChevron {
    top: 20px;
    left: 50%;
  }

  .nextChevron {
    bottom: 25px;
    left: 50%;
  }

  .section-start .start-content{
    background: #b3d4fc;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* Sidebar */
/* The sidebar menu */
.sidebar {
  height: 80vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: var(--header-height);
  right: 0;
  background-color: #e5e6e7; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}