:root {
  --mobile-breakpoint: 768px;
  --header-height: 50px;
  --dunkelblau: #245a74;
  --mittelblau: #5facbd;
  --hellblau: #b7d4dc;
  --weiss: #ffffff;
  --senfgelb: #e9cb44;
  --rot: #cc0000;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/font/Montserrat-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/font/Montserrat-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/font/Montserrat-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'MontserratAlternates-Bold';
  src: url('/font/MontserratAlternates-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'MontserratAlternates-ExtraBold';
  src: url('/font/MontserratAlternates-ExtraBold.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: Montserrat-Medium, Montserrat, sans-serif;
  background-color: var(--dunkelblau);
}


.pages {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  position: relative;
  background-color: var(--dunkelblau);
}

.pages section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pages section .topLeft,
.pages section .bottomRight {
  height: 50%;
  padding: 1rem;
  position: relative;
}
.pages section .bottomRight {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: var(--dunkelblau);

}
.pages section .bottomRight::-webkit-scrollbar  {
  display: none;
}


.prevChevron,
.nextChevron {
  position: absolute;
  top: 50%;
}
.prevChevron {
  left: 20px;
}
.nextChevron {
  right: 20px;
}

.section-start {
  display: none;
}

section .topLeft, section .start-content {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--dunkelblau);
}

.education .topLeft {
  background-image: url(/img/ausbildung.webp);
}
.movie .topLeft {
  background-image: url(/img/movie.webp);
}
.application .topLeft {
  background-image: url(/img/bewerbung.webp);
}
@media screen and (min-width: 768px) {
  .pages section {
    display: flex;
  }

  .pages section .topLeft,
  .pages section .bottomRight {
    height: 100%;
    width: 50vw;
  }

  .prevChevron {
    top: 20px;
    left: 50%;
  }

  .nextChevron {
    bottom: 25px;
    left: 50%;
  }

  .section-start .start-content{
    background-image: url(/img/start.webp);

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 10%;
  }

  .section-start {

  }
}

